.custom-var-1 {
  --rotation-angle: -30deg;
}

.custom-var-2 {
  --rotation-angle: 16deg;
}

.custom-var-3 {
  --rotation-angle: -75deg;
}

.custom-var-4 {
  --rotation-angle: 35deg;
}

.custom-var-5 {
  --rotation-angle: 28deg;
}

.custom-var-6 {
  --rotation-angle: -36deg;
}